<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Log message format -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %c [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Setting the root level of logging to INFO -->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="log4j.logger.org.apache.ibatis" level="DEBUG" />
    <logger name="log4j.logger.org.springframework.jmx" level="ERROR" />
    <logger name="log4j.logger.org.springframework.web" level="INFO" />

</configuration>